{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

    <link rel="stylesheet" href={% static "css/login.css" %}>
</head>
<body>
    <div class="container">
        <form class="form">
            <div class="form-wrapper">
                    <div class="inputs-wrapper">
                        <label for="email">ایمیل:</label>
                        <input class="email-input" type="text" id="email" placeholder="ایمیل خود را وارد کنید">
                    </div>
                    <div class="inputs-wrapper">
                        <label for="password">رمز عبور:</label>
                        <input class="password-input" name="password" type="password" id="password" placeholder="رمز عبور خود را وارد کنید">
                    </div>
                    <div class="inputs-wrapper">
                        <label for="password2">تکرار رمز عبور:</label>
                        <input class="password-input" name="password2" type="password" id="password2" placeholder="رمز عبور خود را تکرار کنید">
                    </div>
                    
                <p class="result"></p>
                <div class="buttons">
                    <button class="btn" type="submit">ثبت نام</button>
                    <button class="btn" type="button">خانه</button>
                </div>
            </div>
        </form>
    </div>

    <script src={% static "js/users/Register.js" %}></script>
</body>
</html>